// Place all the styles related to the Api/Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.journal-outer {
  display: flex;
  // align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 92.5vh;
}

.profile-container p {
  text-align: center;
  font-size: 2em;
}

.journal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: 80px;
  // border: 1px solid black;
}


.gotojournal {
  padding: 25px 50px;
  background: lightgreen;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
