// Place all the styles related to the Api/Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.journal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  // border: 1px solid black;
}


.gotojournal {
  padding: 25px 50px;
  background: lightgreen;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
