.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7.5vh;
  background: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08)

}

.nav-container h1 {
  display: flex;
  align-items: flex-end;
  // font-family: "Indie Flower", cursive;
  // font-family: "Playball";
  font-family: "Special Elite", cursive;
  font-size: 3.5em;
  // color: #6087ac;
  color: #365166;
  text-shadow: 1px 2px 5px black;//#6087ac;//lightgray;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

.logo {
  // margin-top: 10px;
  // margin-bottom: auto;
  margin-left: 15px;
  height: 7.5vh;
}

.login-button {
  height: 7.5vh;
  width: 100px;
  border-left: 1px solid lightgray;
  color: #677481;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;

}

.login-button:hover {
  color: #65adf6;//#29e824;//#476581;
}

.Modal {
  position: absolute;
  top: 81px;
  right: 0;
  height: 200px;
  width: 300px;
  border: 1px solid darkgray;
  border-top: 0;
  background-color: white;
  border-bottom-left-radius: 5px;
}
