//align "Welcome to Write Away!" and the Sign Up Form side by side
.signup-form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(141deg, #95bcba 0%, #4490a6 51%, #557187 75%);
  height: 95vh;
}

//may need to edit later to get rid of fixed pixel movement
.signup-form {
  margin-top: 10px;
}

.signup-text {
  font-size: 40px;
}

.signup-form input[type=text], .signup-form input[type=password] {
  height: 30px;
  margin-bottom: 5px;
  // border-radius: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px;
}
